// Place all the styles related to the Books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.book {

}

.book-image {
  min-width: 225px;
  width: 30%;
}

.book-info {
  width: 45%;
  padding: 0 15px;
  display: inline-block;
  vertical-align: top;
}

.book-form {
  width: 50%;
  float: left;
}

.book-actions {
  padding: 0 10px;
}

#main-container .row > .book {
  margin-top: 50px;
}

@media (max-width: 991px) {
 .book-form {
   width: 75%;
 }
}

@media (max-width: 767px) {
 .book-form {
 }
}

@media (max-width: 500px) {
 .book-form {
   width: 100%;
 }
}
