<header>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <%= link_to "BookStore", root_path, class: 'navbar-brand' %>
      <%= form_tag({ url: books_path }, { class: 'navbar-form navbar-right book-search-form', method: :get }) do |f| %>
        <div class="input-group margin-bottom-sm">
          <span class="input-group-addon">
            <i class="fa fa-search fa-fw"></i>
          </span>
          <%= text_field_tag :query, params[:query], class: 'form-control typeahead book-search', placeholder: 'Search' %>
        </div>
      <% end %>
    </div>

  </nav>
</header>
